# Obtain results

In [3]:
import pandas as pd 
import re

In [4]:
res_df = pd.read_csv("SOL2_results.csv")
res_df

,Query,1,2,3,4,5,6,7,8,9,10
0,carnival0,carnival9,carnival7,carnival6,carnival5,carnival13,carnival1,carnival10,carnival3,carnival4,carnival2
1,carnival1,carnival10,distractor209,distractor98,distractor147,carnival11,carnival6,carnival14,carnival5,distractor59,carnival15
2,carnival2,carnival14,distractor147,carnival12,distractor366,carnival11,carnival10,distractor59,distractor204,carnival6,distractor98
3,carnival3,distractor147,distractor204,carnival10,carnival14,carnival12,distractor182,distractor203,carnival6,distractor366,carnival5
4,carnival4,carnival3,carnival4,carnival5,carnival2,carnival11,carnival7,carnival13,carnival8,carnival1,carnival6
...,...,...,...,...,...,...,...,...,...,...,...
60,trinity_college_library0,church_christ9,church_christ3,skyline_from_high2,skyline_from_high4,skyline_from_high3,church_christ1,trinity_college_library3,distractor11,church_christ2,distractor103
61,trinity_college_library1,trinity_college_library1,distractor120,hapenny_bridge4,church_christ11,distractor352,church_albano7,karlsplatz2,karlsplatz3,hapenny_bridge11,trinity_college_library3
62,trinity_college_library2,distractor355,distractor72,distractor142,distractor210,distractor178,distractor44,distractor209,distractor219,distractor8,distractor200
63,trinity_college_library3,church_christ5,church_christ4,tiny_houses6,hapenny_bridge1,tiny_houses11,distractor344,distractor8,tiny_houses5,trinity_college_library12,distractor316
64,trinity_college_library4,karlsplatz2,hapenny_bridge4,distractor120,church_christ7,church_christ11,trinity_college_library1,hapenny_bridge7,distractor268,hapenny_bridge3,distractor366

In [5]:
def removeNumbers(string):
    pattern = r'[0-9]'
    clean_string = re.sub(pattern, '', string)
    return clean_string

In [6]:
matches_top1 = 0
matches_top3 = 0
matches_top10 = 0

total_queries = len(res_df["Query"])

for i in range(total_queries):

    # clean the query name
    temp_query = removeNumbers(res_df["Query"][i])

    # clean the predictions names
    temp_pred_1 = removeNumbers(res_df["1"][i])      
    temp_pred_2 = removeNumbers(res_df["2"][i])
    temp_pred_3 = removeNumbers(res_df["3"][i])
    temp_pred_4 = removeNumbers(res_df["4"][i])
    temp_pred_5 = removeNumbers(res_df["5"][i])
    temp_pred_6 = removeNumbers(res_df["6"][i])
    temp_pred_7 = removeNumbers(res_df["7"][i])
    temp_pred_8 = removeNumbers(res_df["8"][i])
    temp_pred_9 = removeNumbers(res_df["9"][i])
    temp_pred_10 = removeNumbers(res_df["10"][i])

    preds_list = [temp_pred_1, temp_pred_2, temp_pred_3, temp_pred_4, temp_pred_5, temp_pred_6, temp_pred_7, temp_pred_8, temp_pred_9, temp_pred_10]

    # case
    if temp_query == preds_list[0]:
        matches_top1 = matches_top1 + 1
    if temp_query in preds_list[0:3]:
        matches_top3 = matches_top3 + 1
    if temp_query in preds_list:
        matches_top10 = matches_top10 + 1

# Calculate the 3 scores
top1_score = matches_top1 / total_queries
top3_score = matches_top3 / total_queries
top10_score = matches_top10 / total_queries


print("Total queries:", total_queries)
print("Top 1  Score:", round(top1_score, 2))
print("Top 3  Score:", round(top3_score, 2))
print("Top 10 Score:", round(top10_score, 2))

Total queries: 65
Top 1  Score: 0.48
Top 3  Score: 0.6
Top 10 Score: 0.75